body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1798f3;
}

.container {
    width: 800px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align:center;
}

.container h3 {
    color: #868383;
    font-style: italic;
}

.container button {cursor: pointer;font-size: 22px;padding: 11px 28px;outline: none;background: #ff532c;color: #fff;transition:0.3s;border:none;box-shadow: 3px 8px 20px -4px black;}


.container button:hover{
    background:#9d351e;
    color:rgb(236, 233, 233);
}